mat-card {
  padding: 40px 20px;
  box-shadow: none;
}
.loading-spinner {
  padding: 25px;
  background-color: rgba($color: #000000, $alpha: 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
