@import "@angular/material/theming";

@include mat-core();

$primary: mat-palette($mat-green, 700);
$secondary: mat-palette($mat-yellow, 300);
$third: mat-palette($mat-red, 300);
$warning: mat-palette($mat-red, 800);
$success: mat-palette($mat-green, 200);

$custom-theme: mat-light-theme($primary, $secondary, $third);

@include angular-material-theme($custom-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
